body {
    margin: 0px;
}

html, body, .row, .column {
    height: 100%;
}

.column {
    float: left;
}

.left {
    width: 15%;
    background-color:gray;
}

.right {
    width: 85%;
    background-color:lightgray;
}
 h1 {
    border-bottom: 5px solid black;
    margin: 50px 500px;
    font-family: "ubuntu";
    text-align: center;
    font-size: 50px;
}       
